body{
	   background-color: #eee;
}

#map{
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#heat-map {
	width: 100%;
	height: 300px;
}

#statistic-container{
	width: 90%;
	position: absolute;
	top: 500px;
	left: 0px;
	text-align: center;
	padding: 20px;
}

#curve-chart{
	width: 100%; 
	height: 300px;
}

.title-statistic-info{
	font-family: 'Roboto',Arial,sans-serif;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 10px;
	padding: 0px 0px 5px 0px;
	color: #8A8989;
    text-align: left;
}

.statistic-info{
	background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px 10px 20px 10px;
    display: inline-block;
	width: 90%;
	min-height: 300px;
	vertical-align: top;
	padding: 10px;
}

section{
	padding: 10px;
	background: white;
}

.container{
	vertical-align: top;
	top: 0;
	margin: 15px 15px 0px 15px;
	color: #8A8989;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

#setting-container{
	box-shadow: 5px 0px 5px rgba(68, 67, 67, 0.23);
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 80%;
}

#slider-range{
	width: 90%;
    margin: 15px 15px 0px 15px;
}
 
 #years-range{
 	border:0; 
 	font-size: 14px;
 	color: #8A8989;
 }

#year-begin, #year-end{
	margin: 5px 0px 0px 0px;
	font-size: 14px;
}

.check{
	display: inline-block;
	    margin: 0px 10px 0px 10px;
}

.title{
	color: #8A8989;
	font-size: 18px;
	width: 200px;
	font-family: 'Roboto', sans-serif;
	margin: 0px 15px 0px 10px;
}

.input-text{
	font-family: 'Roboto', sans-serif;
	color: #8A8989;		
}

.btn{
	width: 100px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	padding: 15px;
	font-size: 18px;
	background: #073855;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	margin: 15px 15px 15px 20px;
	box-shadow: 0px 6px 15px rgba(68, 67, 67, 0.23);
}

.box_legend, .txt-legend{
	display: inline-block;
	color: #8A8989;
	font-family: 'Roboto', sans-serif;
}

#box-yellow{
	width: 20px;
	height: 10px;
	background: #ffbb00;
	margin-right: 10px;
	margin-left: 20px;
}

#box-blue{
	width: 20px;
	height: 10px;
	background: #008cff;
	margin-right: 10px;
	margin-left: 20px;
}

#box-red{
	width: 20px;
	height: 10px;
	background: #ff0000;
	margin-right: 10px;
	margin-left: 20px;
}
 .hider{
 	position: absolute;
    top: 50px;
    left: 100%;
    width: 30px;
    height: 70px;
    background: #073855;
    box-shadow: 7px 7px 5px rgba(68, 67, 67, 0.23);
 }

#open-settings{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/open-arrow.png) center no-repeat;
	background-size: contain;
	display: none;
	cursor: pointer;
}

#close-settings{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/close-arrow.png) center no-repeat;
	background-size: contain;
	display: inline-block;
	cursor: pointer;
}

.ms-options-wrap{
	margin: 10px 15px 15px 5px;
}
ul, li {
    padding: 0px 5px 0px 5px;
    list-style: none;
}
#tipo-container{
	width: 100%;
}

.street-map-link{
	cursor: pointer;
	color: #4285f4;
}

@media screen and (min-width: 1024px) {
    #setting-container{
		box-shadow: 5px 0px 5px rgba(68, 67, 67, 0.23);
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: 30%;
	}

	#statistic-container{
		width: 95%;
		position: absolute;
		top: 500px;
		left: 0px;
		text-align: center;
	}

	.statistic-info{
		background-color: #fff;
    	border-radius: 2px;
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    	font-family: 'Roboto', sans-serif;
    	font-weight: 400;
    	margin: 0px 10px 10px 10px;
    	display: inline-block;
		width: 45%;
		height: 100%;
		min-height: 300px;
		vertical-align: top;
		padding: 10px;
	}

}
















